// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
    font-family: Samim;
    src: url('../fonts/Samim-FD.eot');
    src: url('../fonts/Samim-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Samim-FD.woff2') format('woff2'),
         url('../fonts/Samim-FD.woff') format('woff'),
         url('../fonts/Samim-FD.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Samim;
    src: url('../fonts/Samim-Bold-FD.eot');
    src: url('../fonts/Samim-Bold-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Samim-Bold-FD.woff2') format('woff2'),
         url('../fonts/Samim-Bold-FD.woff') format('woff'),
         url('../fonts/Samim-Bold-FD.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: Samim;
    src: url('../fonts/Samim-Medium-FD.eot');
    src: url('../fonts/Samim-Medium-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Samim-Medium-FD.woff2') format('woff2'),
         url('../fonts/Samim-Medium-FD.woff') format('woff'),
         url('../fonts/Samim-Medium-FD.ttf') format('truetype');
    font-weight: 500;
  }

body{
    direction: rtl;
    text-align: right;
}
#summary tbody tr span{
  font-weight: bold;
  font-size: 1rem;
}
.iframe{
  min-height: 590px;
}
.post-summary table td {
  vertical-align: middle;
}
.post-summary table td a .fas{
  font-size: 1.5rem;
}